@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9faff;
}

.humburgerMenu {
    margin-right: 2%;
    width: 40px;
    margin-right: 5%;
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0,0.5);
backdrop-filter: blur(5px);
}

.myNamenav {
    font-size:1.8rem;
    font-weight: bold;
    margin-left: 10%;
    color: white;
}



.navHeader{
    margin-right: 10%;
    display: flex;
}
nav ul li a{
    color: white;
    margin-right: 5rem;
}
nav ul li a:hover{
    color: #fdc435;
    border-bottom:1px solid #fdc435;
}


/* my image and somethings About me code start here */

.aboutContainer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:  repeat(auto-fit,  minmax(400px, 1fr));
    align-items: center;
    margin: 10% 0;
}
.aboutmeasideimg {
    margin: 0 5%;
    
}

.aboutmeasideimg p{
    font-size: medium;
    margin: 50px 0;
    margin-right: 150px;
}

.aboutmeasideimg a{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 18%;
    /* border: 1px solid black; */
    background-color: #fdc435;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.aboutContainer div img {
    margin: 0 30%;
    margin-bottom: 20px;
}
/* Footer code  */
footer {
    background-color: #fdc435;
}

.infocontainer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:  repeat(auto-fit,  minmax(400px, 1fr));
}

.infocontainer figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.copy {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

@media screen and (max-width: 600px) {
    .humburgerMenu {
        display: block;
      }

      .navHeader {
        display: none;
      }

      .myNamenav {
        font-size: 1.5rem;
      }

      .infocontainer {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
      
    .aboutContainer {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns:  repeat(auto-fit,  minmax(300px, 1fr));
        align-items: center;
        margin: 10% 0;
    }
    
    .aboutContainer div img {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 200px; 
          margin: 0 18%;
    }

    .aboutmeasideimg p {
        font-size: medium;
        margin: 50px 0;
      
    }
    
}
